# Exploratory analysis of the Ramen Kaggle Data

In [1]:
import pandas as pd
import numpy as np
import os
# we will use pathlib later in the py file
from pathlib import Path
# custom made functions (can be a pain to import sometimes)
import sys
sys.path.insert(0,os.path.abspath('../src/helper'))
from customPandas import *

In [2]:
# BASE_DIR = Path(__file__).resolve().parent.parent

In [3]:
# https://stackoverflow.com/questions/39125532/file-does-not-exist-in-jupyter-notebook
dataPath = os.path.abspath('../data')
fileName = 'ramen-ratings.csv'
df = pd.read_csv(f'{dataPath}/{fileName}')

In [4]:
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB

In [6]:
df.shape

(2580, 7)

In [7]:
df.describe()

          Review #
count  2580.000000
mean   1290.500000
std     744.926171
min       1.000000
25%     645.750000
50%    1290.500000
75%    1935.250000
max    2580.000000

In [8]:
pandasExploratoryData(df,['cat', 'num', 'gen', 'missing'])

Only printing the first 5 unique variables and 75 chars

Categorical variables --------------------------------------------


There are 355 unique val for Brand

There are 2413 unique val for Variety

There are 7 unique val for Style

There are 38 unique val for Country

There are 51 unique val for Stars

There are 38 unique val for Top Ten

Numerical variables --------------------------------------------

There are 2580 unique Review #
The median is  1290.5, mean 1290.5


Basic information --------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB

data info:
None

data description:
          Review #
count  2580.000000
mean   1290.500000
std     744.926171
min       1.000000
25%     645.750000
50%    1290.500000
75%    1935.250000
max    2580.000000

data shape:
columns 2580 rows: 7

Missing/Null Data --------------------------------------------

          Total    Percent
Top Ten  2539.0  98.410853
Style       2.0   0.077519

## Cleaning the data
We are dropping the review # column because it doesn't provide any relevant info and we are dropping Top Ten because honestly only 41/2k+ rows are populated.

In [9]:
def cleanStars(value):
    if value == 'Unrated':
        return np.nan
    else:
        return value
df.Stars = df.Stars.apply(cleanStars) 
df[df.Stars == 'Unrated'].Stars

Series([], Name: Stars, dtype: object)

In [10]:
# dropping Columns
df = df.drop(['Review #','Top Ten'],axis=1)

In [11]:
# changing an incorrect dtype
df = df.astype({'Stars':'float64'})

In [17]:
# for the test train split later we separate Stars
results = df['Stars']
df = df.drop(['Stars'],axis=1)

In [19]:
results.head()

0    3.75
1    1.00
2    2.25
3    2.75
4    3.75
Name: Stars, dtype: float64

In [20]:
df.head()

,Brand,Variety,Style,Country
0,New Touch,T's Restaurant Tantanmen,Cup,Japan
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan
4,Ching's Secret,Singapore Curry,Pack,India

## Feature engineering

We need to do some NLP in the Variety section so that we keep the relecant elements like ingredients(e.g. curry, sesame), location(e.g. singapore) and relevant adjectives (e.g. Hot, sour)

In [21]:
from nltk.corpus import stopwords
import string
def nltkPreprocess(text):
    # lower
    words = text.lower().split()
    # remove punctiuation
    table = str.maketrans('', '', string.punctuation)
    stripped = [w.translate(table) for w in words]
    #remove stopwords
    stop_words = set(stopwords.words('english'))
    clean = [w for w in stripped if not w in stop_words]
    return clean

## Modeling using pipelines

In [13]:
from sklearn.preprocessing import FunctionTransformer

# columns list for cat and num dtypes
catFeats = df.dtypes[df.dtypes == 'object'].index.tolist()
numFeats = df.dtypes[~df.dtypes.index.isin(catFeats)].index.tolist()

# methods for Function Transformer 
def numFeat(df):
    return data[numFeats]

def catFeat(df):
    return df[catFeats]


#! need to review and learn more about FunctionTransformer
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.FunctionTransformer.html#sklearn.preprocessing.FunctionTransformer
# This goes without says that I also must review fit and transform
keepNum = FunctionTransformer(numFeat)
keepCat = FunctionTransformer(catFeat)